<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">

          <h2 class="text-center">Create a new user</h2>

          <div id="form-create-user" class="border p-2 shadow">

            <div class="mb-3">
              <label for="text-fullname" class="form-label">Fullname</label>
              <input type="text" id="text-fullname" class="form-control" v-model.trim="user.full_name">
            </div>

            <div class="mb-3">
              <label for="text-username" class="form-label">username</label>
              <input type="text" id="text-username" class="form-control" v-model.trim="user.username">
            </div>

            <div class="mb-3">
              <label for="text-email" class="form-label">Email</label>
              <input type="text" id="text-email" class="form-control" v-model.trim="user.email">
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="text-password" class="form-label">Password</label>
                  <input type="password"
                         id="text-password"
                         class="form-control"
                         :class="{'is-invalid': !isPasswordValid, 'is-valid': isPasswordValid}"
                         v-model="user.password">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="text-confirm-password" class="form-label">Confirm password</label>
                  <input type="password"
                         id="text-confirm-password"
                         class="form-control"
                         :class="{'is-invalid': !isPasswordValid, 'is-valid': isPasswordValid}"
                         v-model="user.confirm_password">
                </div>
              </div>
            </div>

            <div v-if="! isPasswordValid" class="mb-3">
              <div class="text-center text-danger">Password and confirm password do not match.</div>
            </div>

            <div class="mb-3">
              <label for="select-role">Role</label>
              <select class="form-select" id="select-role" v-model="user.role">
                <option v-for="(role, key) in userRoles" :value="key">{{ role }}</option>
              </select>
            </div>


            <div class="text-center mt-3">
              <button class="btn btn-primary" @click="onSave()" :disabled="!isFormValid">Save</button>
            </div>

            <div class="alert alert-danger text-center mt-3" v-if="errorMessage">
              {{ errorMessage }}
            </div>

          </div>

        </div>
      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "CreateUser",
  components: {TopNavigationBar},

  data() {
    return {

      user: {
        username: "",
        full_name: "",
        email: "",
        password: "",
        confirm_password: "",
        role: "USER",
      },

      errorMessage: "",

    }
  },


  computed: {

    userRoles() { return this.$store.getters.getUserRoles },

    isFormValid() {

      if (this.user.username === "" || this.user.email === "" || this.user.full_name === "") return false;
      if (!this.isPasswordValid) return false;

      return true;
    },

    isPasswordValid() {
      if (this.user.password === "") return false;
      if (this.user.password !== this.user.confirm_password) return false;

      return true;
    }

  },

  methods: {

    async onSave() {

      const params = {
        username: this.user.username,
        full_name: this.user.full_name,
        password: this.user.password,
        email: this.user.email,
        role: this.user.role,
      };

      try {

        await this.$store.dispatch("users_create", params);
        await this.$router.push("/users");

      } catch (e) {
        this.errorMessage = e.response.data.payload.error;

      }


    }

  }


}
</script>

<style scoped>

</style>
