<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">


          <h2 class="text-center">Edit {{ user.full_name }}</h2>

          <div id="form-edit-user" class="border p-2 shadow">

            <div class="mb-3">
              <label for="text-fullname" class="form-label">Full name</label>
              <input type="text" id="text-fullname" class="form-control" v-model.trim="user.full_name">
            </div>

            <div class="mb-3">
              <label for="text-username" class="form-label">username</label>
              <input type="text" id="text-username" class="form-control" v-model.trim="user.username">
            </div>

            <div class="mb-3">
              <label for="text-email" class="form-label">Email</label>
              <input type="text" id="text-email" class="form-control" v-model.trim="user.email">
            </div>

            <div class="mb-3">
              <label for="select-role">Role</label>
              <select class="form-select" id="select-role" v-model="user.role">
                <option v-for="(role, key) in userRoles" :value="key">{{ role }}</option>
              </select>
            </div>

            <div class="text-center mt-3">
              <button class="btn btn-primary" @click="onUpdate()" :disabled="!isFormValid">Update</button>
              <router-link to="/users" class="btn btn-secondary">Cancel</router-link>
            </div>

            <div class="alert alert-danger text-center mt-3" v-if="errorMessage">
              {{ errorMessage }}
            </div>

            <div class="alert alert-success text-center mt-3" v-if="successMessage">
              {{ successMessage }}
            </div>

          </div><!-- form -->


          <hr>

          <h4 class="text-center">Update Password</h4>

          <div class="border p-2 shadow">

            <div class="row">
              <div class="col">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="check-showPassword" v-model="passwordVisible">
                  <label class="form-check-label" for="check-showPassword">
                    Show password
                  </label>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label for="text-password" class="form-label">Password</label>
                  <input :type="passwordFieldType" id="text-password" class="form-control" v-model="password.password">
                </div>

              </div>
              <div class="col">

                <div class="mb-3">
                  <label for="text-confirm-password" class="form-label">Confirm password</label>
                  <input :type="passwordFieldType" id="text-confirm-password" class="form-control" v-model="password.confirm_password">
                </div>

              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-primary" @click="onUpdatePassword()">Update Password</button>
            </div>

          </div>


        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "EditUser",
  components: {TopNavigationBar},

  data() {
    return {
      user: {
        username: "",
        full_name: "",
        email: "",
        role: "",
      },

      password: {
        password: "",
        confirm_password: "",
      },

      passwordVisible: false,

      errorMessage: "",
      successMessage: "",
    }
  },

  computed: {

    userId() { return this.$route.params.id; },
    userRoles() { return this.$store.getters.getUserRoles },
    isFormValid() {
      return !(this.user.username === "" || this.user.email === "" || this.user.full_name === "");
    },

    passwordFieldType() {
      if (this.passwordVisible) return "text";
      else return "password";
    }

  },

  async mounted() {

    try {

      await this.$store.dispatch("users_fetch", this.userId);
      this.user = this.$store.getters.getUser;

    } catch (e) {
      alert("Failed to fetch user details");
    }

  },

  methods: {

    async onUpdate() {


      const params = {
        id: this.user.id,
        username: this.user.username,
        full_name: this.user.full_name,
        email: this.user.email,
        role: this.user.role,
      };

      console.log(params);

      try {

        await this.$store.dispatch("users_update", params);
        this.successMessage = "User details updated";

      } catch (e) {
        this.errorMessage = e.response.data.payload.error;
      }

    },

    async onUpdatePassword() {

      try {

        const params = {
          id: this.user.id,
          password: this.password.password
        };

        await this.$store.dispatch("users_updatePassword", params);
        alert("Password updated");

      } catch (e) {
        alert("Failed to update password");
      }

    }


  },

}
</script>

<style scoped>

</style>
