<template>

  <div>

    <TopNavigationBar/>


    <div class="container">
      <div class="row">
        <div class="col">

          <h1 class="text-center">Manage Users</h1>
          <p>You can also
            <router-link to="/users/create">create</router-link>
            a new user
          </p>

          <table class="table table-striped">
            <thead>
            <tr>
              <th>Full name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="user in users" :key="user.id">
              <td>
                <router-link :to="'/users/edit/' + user.id">{{ user.full_name }}</router-link>
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "ManageUsers",
  components: {TopNavigationBar},

  data() {
    return {

      users: [],

    };
  },

  computed: {},

  async mounted() {
    /* this will run as soon as this component is loaded */

    try {

      await this.$store.dispatch("users_fetchAll");
      this.users = this.$store.getters.getUsers;

    } catch (e) {
      console.log(e);
    }

  },

  methods: {}

}
</script>

<style scoped>

</style>
