<template>

  <div>

    <TopNavigationBar/>


    <div class="container">
      <div class="row">
        <div class="col">

          <h1>About us page</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsum itaque laboriosam perferendis
            quasi! Delectus distinctio dolore ea eos, fuga necessitatibus nulla odio omnis provident quas
            sed totam voluptas voluptates.</p>

        </div>
      </div>
    </div>



  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "About",
  components: {TopNavigationBar}
}
</script>

<style scoped>

</style>
