<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row">
        <div class="col">

          <h1>This is a home page</h1>


        </div>
      </div>
    </div>

  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "Home",
  components: {TopNavigationBar}
}
</script>

<style scoped>

</style>
