<template>


  <div>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-6">

          <div class="alert alert-success">

            <form @submit="onLogin()">

              <div class="mb-3">
                <label for="text-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="text-username" v-model="login.username">
              </div>

              <div class="mb-3">
                <label for="text-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="text-password" v-model="login.password">
              </div>


              <div class="text-center">
                <button type="submit" class="btn btn-success">Login</button>
              </div>

            </form>
          </div>


          <div v-if="error" class="alert alert-danger">
            {{ error }}
          </div>

        </div>
      </div>
    </div>

  </div><!-- template -->


</template>

<script>
export default {
  name: "Login",

  data() {
    return {

      login: {
        username: "",
        password: ""
      },

      error: "",

    };
  },

  computed: {},

  mounted() {

    // localStorage.setItem("name", "Kumar");

  },

  methods: {

    async onLogin() {

      const params = {
        username: this.login.username,
        password: this.login.password
      };

      try {

        await this.$store.dispatch("auth_login", params);

        await this.$router.push("/");

      } catch (e) {
        this.error = e.response.data.payload.error;
      }

    }

  }


}
</script>

<style scoped>

</style>
