<template>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link to="/" class="nav-link active">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/about" class="nav-link active">About</router-link>
          </li>

        </ul>


        <div class="d-flex align-items-center">

          <span v-if="loginStatus">
            <span class="navbar-text me-2">Welcome {{ loggedInUser.full_name }}</span>
            <span>
              <button class="btn btn-sm btn-danger" @click="logout()">Logout</button>
            </span>

            <span v-if="userType === 'ADMIN'">
              <router-link to="/users" class="btn btn-sm btn-success"><i class="bi bi-people"></i></router-link>
            </span>

          </span>
          <span v-else>
            <router-link to="/login" class="btn btn-sm btn-success">LOGIN</router-link>
          </span>


        </div>
      </div>
    </div>
  </nav>

</template>

<script>
export default {
  name: "TopNavigationBar",

  computed: {

    loginStatus() { return this.$store.getters.getLoginStatus; },
    loggedInUser() { return this.$store.getters.getLoggedInUser; },
    userType() { return this.$store.getters.getUserType; }

  },

  methods: {

    async logout() {

      try {
        await this.$store.dispatch("auth_logout");
        await this.$router.push("/login");
      } catch (e) {
        console.log(e);
      }


    }

  }

}
</script>

<style scoped lang="scss">


</style>
